<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <meta name="title" content="">

  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="icon" href="/images/favicon/favicon.png" sizes="32x32" />
  <link rel="icon" href="/images/favicon/favicon-1.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon.png" />
  <meta name="msapplication-TileImage" content="/images/favicon/favicon-2.png" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.typekit.net/spa5msy.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="page-top">

  <!-- header -->

  <header>

    <div class="nav-bg"></div>

    <!-- nav -->

    <div class="menu-bar">
      <div class="brand-logo">
        <a href="index.html"><img src="images/neo_logo.svg" alt="NEO"></a>
      </div>
      <div class="menu-btn d-xl-none">
        <div class="menu-icon">
          <span class="menu-icon__line"></span>
          <span class="menu-icon__line menu-icon__line-middle"></span>
          <span class="menu-icon__line menu-icon__line-bottom"></span>
        </div>
      </div>
      <nav>
        <div class="nav-content">
          <div class="nav-list-container">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a href="index.html">About us</a>
              </li>
              <li class="nav-list-item">
                <a href="case_studies.html">Case studies</a>
              </li>
              <li class="nav-list-item">
                <a href="courses.html">Courses</a>
              </li>
              <li class="nav-list-item">
                <a href="news_room.html">News</a>
              </li>
              <li class="nav-list-item">
                <a href="#contact">Contact</a>
              </li>
              <li class="nav-list-item only-desktop">
                <a class="green" href="">HELLOGREENWEB.HU <i class="icon-icon-open-external-link"></i></a>
              </li>
            </ul>
          </div>

          <div class="nav-mobilemenu">
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>hellogreenweb.hu</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>

        </div>
      </nav>
      <div class="lang-container">
        <a href="#" class="lang-open">EN</a>
        <div class="lang-box">
          <a href="#">HU</a>
          <span>|</span>
          <a href="#">EN</a>
        </div>
      </div>
    </div>

  </header>

  <!-- content -->

  <section class="main-container">

    <!-- carrer subpage -->

    <div class="carrer-container default-padding-w menu-top-margin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2>We are looking for:</h2>
            <div class="row def-b-margin">
              <div class="col-12 col-xl-9">
                <h1 class="mb-0">Senior Account Manager</h1>
              </div>
            </div>

            <div class="row">

              <!-- description -->

              <div class="col-12 col-xl-6">
                <div class="carrer-registration-desc basic-text-container">
                  <h2>What we offer</h2>

                  <ul>
                    <li>változatos ügyfél paletta: az FMCG-től kezdve a telekommunikáción át egészen az OTC-ig</li>
                    <li>számtalan innovatív projekt, izgalmas megoldások</li>
                    <li>folyamatos szakmai fejlődési lehetőség (házon belül és külsős képzések formájában is!)</li>
                    <li>kellemes légkör egy olyan csapatban, ahol napról napra egymástól tanulnak a tapasztalt rókák és
                      a fiatal újoncok</li>
                    <li>home office lehetőség</li>
                    <li>ha visszatérünk: csocsóasztal, állatbarát iroda és emberek</li>
                  </ul>

                  <h2>Your daily tasks</h2>

                  <ul>
                    <li>személyes jó kapcsolat kialakítása és fenntartása az ügyfelekkel</li>
                    <li>folyamatos kapcsolattartás az ügyfelekkel a projektek menedzsmentje során</li>
                    <li>új ügyfelek szerzése és a meglévők bebiztosítása</li>
                    <li>projektek menedzsmentje az ügynökségen belül és kívül is</li>
                    <li>csapat irányítása, koordinálása</li>
                    <li>új megoldások keresése, ügyfelek edukálása a digitális marketing területén</li>
                  </ul>

                  <h2>What we expect</h2>

                  <ul>
                    <li>3-5 éves releváns szakmai tapasztalat marketing, online médiaismeret és projektmenedzsment
                      területen</li>
                    <li>kiváló kommunikációs készség és önálló feladatvégzés</li>
                    <li>kezdeményezőkészség és teljesítményorientáltság</li>
                    <li>precizitás, gazdasági és sales szemlélet</li>
                    <li>nyitottság az innovatív, out-of-the-box megoldásokra</li>
                    <li>aktív angol nyelvismeret</li>
                  </ul>
                </div>
              </div>

              <!-- reg form -->

              <div class="col-12 col-xl-6">
                <div class="registration-form">
                  <h2>Apply now<span class="yellow">.</span></h2>
                  <form action="">
                    <div class="form-group">
                      <label>Your name</label>
                      <input placeholder="What can we call you?" name="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Your email address</label>
                      <input placeholder="Where we can reply back to" name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="file-upload" class="custom-file-upload mb-0">
                        <a class="defbtn"><i class="icon-arrow-right"></i>Your CV</a>
                      </label>
                      <input id="file-upload" class="form-control-file d-none" type="file">
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="legal" v-model="isArial">
                        <label class="form-check-label" for="legal">
                          I have read and agree to the <a href="" class="ul">Privacy Policy</a>.
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="defbtn"><i class="icon-arrow-right"></i>SUBMIT APPLICATION</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- showreel -->

    <div class="main-testimony-container on-career">
      <div class="testimony-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>We are neo<span class="yellow">.</span><br>
                A full-service communication
                and media agency with a digital focus<span class="yellow">.</span></h2>
              <div class="testimony-btn">
                <a href="" class="defbtn"><i class="icon-arrow-right"></i>DISCOVER THE NEO METHOD</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="showreel" style="background-image: url('images/main/showreel.png')">
        <a href="" class="defbtn white"><i class="icon-play"></i>view our showreel</a>
      </div>
    </div>

  </section>

  <!-- footer -->

  <footer id="contact">
    <div class="footer-pattern"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-0">Let's talk<span class="yellow">.</span></h2>
          <h2><a href="mailto:neo@neointeractive.hu">neo@neointeractive.hu</a></h2>

          <div class="footer-bottom">
            <div class="contact">
              <p>
                Budapest, Gombocz Zoltán u. 9 H-1118<br>
                <a href="tel:+3612345678">+36 1 234 5678</a>
              </p>
            </div>
            <div class="social">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>
          <div class="legal">
            © 2023 Neo Interactive All Rights Reserved.
            <a href="" class="pp ul">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script src="js/site.js"></script>
</body>

</html>