<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <meta name="title" content="">

  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="icon" href="/images/favicon/favicon.png" sizes="32x32" />
  <link rel="icon" href="/images/favicon/favicon-1.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon.png" />
  <meta name="msapplication-TileImage" content="/images/favicon/favicon-2.png" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.typekit.net/spa5msy.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="page-top">

  <!-- header -->

  <header>

    <div class="nav-bg"></div>

    <!-- nav -->

    <div class="menu-bar">
      <div class="brand-logo">
        <a href="index.html"><img src="images/neo_logo.svg" alt="NEO"></a>
      </div>
      <div class="menu-btn d-xl-none">
        <div class="menu-icon">
          <span class="menu-icon__line"></span>
          <span class="menu-icon__line menu-icon__line-middle"></span>
          <span class="menu-icon__line menu-icon__line-bottom"></span>
        </div>
      </div>
      <nav>
        <div class="nav-content">
          <div class="nav-list-container">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a href="index.html">About us</a>
              </li>
              <li class="nav-list-item">
                <a href="case_studies.html">Case studies</a>
              </li>
              <li class="nav-list-item">
                <a href="courses.html">Courses</a>
              </li>
              <li class="nav-list-item">
                <a href="news_room.html">News</a>
              </li>
              <li class="nav-list-item">
                <a href="#contact">Contact</a>
              </li>
              <li class="nav-list-item only-desktop">
                <a class="green" href="">HELLOGREENWEB.HU <i class="icon-icon-open-external-link"></i></a>
              </li>
            </ul>
          </div>

          <div class="nav-mobilemenu">
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>hellogreenweb.hu</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>

        </div>
      </nav>
      <div class="lang-container">
        <a href="#" class="lang-open">EN</a>
        <div class="lang-box">
          <a href="#">HU</a>
          <span>|</span>
          <a href="#">EN</a>
        </div>
      </div>
    </div>

  </header>

  <!-- intro -->

  <div class="intro-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>
            Neo aims <br class="d-xl-none">to propel<br>
            your business <br class="d-xl-none">forward<span class="yellow">.</span>
          </h1>
          <p class="subline">
            Established in 2002.<br>
            Present in 27 countries worldwide.
          </p>
          <a href="" class="defbtn"><i class="icon-arrow-right"></i>How we can help you</a>
        </div>
      </div>
    </div>

    <div class="scroll-down">
      <p><img src="images/scroll-mouse.svg" alt=""> SCROLL to explore</p>
    </div>
  </div>

  <!-- content -->

  <section class="main-container">

    <!-- our mission -->

    <div class="main-testimony-container">
      <div class="testimony-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>We are neo<span class="yellow">.</span><br>
                A full-service communication
                and media agency with a digital focus.</h2>
              <div class="testimony-btn">
                <a href="" class="defbtn"><i class="icon-arrow-right"></i>Actionable knowledge</a>
              </div>
              <div>
                <a href="" class="defbtn open-popup"><i class="icon-arrow-right"></i>our mission</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="showreel" style="background-image: url('images/main/showreel.png')">
        <a href="" class="defbtn white"><i class="icon-play"></i>view our showreel</a>
      </div>
    </div>

    <!-- partners -->

    <div class="main-partners-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="partners-items">
              <div class="partners-item">
                <img src="images/partners/danone.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/mol.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/szentkiralyi.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/dr-oetker.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/egis.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/danone.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/mol.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/szentkiralyi.png" alt="">
              </div>
              <div class="partners-item">
                <img src="images/partners/dr-oetker.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- knowledge -->

    <div class="main-knowledge-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 knowledge-header">
            <h2>Actionable knowledge<span class="yellow">.</span></h2>
          </div>

          <div class="col-12 col-xl-4 knowledge-content">
            <div class="count">01</div>
            <div class="knowledge-list">
              <h2>Uncover.</h2>
              <ul>
                <li>Customer Insights</li>
                <li>Market Intelligence</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-xl-4 knowledge-content">
            <div class="count">02</div>
            <div class="knowledge-list">
              <h2>Optimize<span class="yellow">.</span></h2>
              <ul>
                <li>Media</li>
                <li>Social Media</li>
                <li>SEO</li>
                <li>Creative</li>
                <li>Content</li>
                <li>Web Development</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-xl-4 knowledge-content">
            <div class="count">03</div>
            <div class="knowledge-list">
              <h2>Evolve<span class="yellow">.</span></h2>
              <ul>
                <li>Analytics</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- leadership -->

    <div class="main-leadership-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-xl-4">
            <div class="leadership-headline">
              <h2>Leadership<span class="yellow">.</span></h2>
              <img src="images/main/leadership_rt.svg" alt="" class="d-none d-xl-block">
              <img src="images/main/leadership_rt_mobile.svg" alt="" class="d-block d-xl-none">
            </div>
          </div>

          <div class="col-12 col-xl-8 leadership-content">
            <div class="leadership-card">
              <img src="images/main/leader_01.png" alt="">
              <div class="name">Kepes Katinka</div>
              <div class="position">Executive Director</div>
              <div class="social">
                <a href="" class="yellow"><i class="icon-twitter"></i></a>
                <a href="" class="yellow"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="leadership-card">
              <img src="images/main/leader_02.png" alt="">
              <div class="name">Benkő Judit</div>
              <div class="position">Media Business Unit Leader</div>
              <div class="social">
                <a href="" class="yellow"><i class="icon-twitter"></i></a>
                <a href="" class="yellow"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="leadership-card">
              <img src="images/main/leader_03.png" alt="">
              <div class="name">Tóth Tímea</div>
              <div class="position">Head of Digital</div>
              <div class="social">
                <a href="" class="yellow"><i class="icon-twitter"></i></a>
                <a href="" class="yellow"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="leadership-card">
              <img src="images/main/leader_04.png" alt="">
              <div class="name">Novák Ferenc</div>
              <div class="position">Social Media Business Unit Leader</div>
              <div class="social">
                <a href="" class="yellow"><i class="icon-twitter"></i></a>
                <a href="" class="yellow"><i class="icon-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- case studies -->

    <div class="main-case-studies-container">
      <div class="case-studies-bg"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2>Case studies<span class="yellow">.</span></h2>

            <div class="slider">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_01.png')">
                      <div class="partner">AMC Magyarország</div>
                      <h3>Vadon János tovább hódít a Spektrum birodalmában!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_02.png')">
                      <div class="partner">dr. Oetker</div>
                      <h3>Süsd meg, ez<br>nagyon jó lett!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_03.png')">
                      <div class="partner">dr. Oetker</div>
                      <h3>Süsd meg, ez<br>nagyon jó lett!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_04.png')">
                      <div class="partner">dr. Oetker</div>
                      <h3>Süsd meg, ez<br>nagyon jó lett!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_01.png')">
                      <div class="partner">AMC Magyarország</div>
                      <h3>Vadon János tovább hódít a Spektrum birodalmában!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_02.png')">
                      <div class="partner">dr. Oetker</div>
                      <h3>Süsd meg, ez<br>nagyon jó lett!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_03.png')">
                      <div class="partner">dr. Oetker</div>
                      <h3>Süsd meg, ez<br>nagyon jó lett!</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide-inner" style="background-image: url('images/main/cs_04.png')">
                      <div class="partner">dr. Oetker</div>
                      <h3>Süsd meg, ez<br>nagyon jó lett!</h3>
                    </div>
                  </div>
                </div>

                <!-- scrollbar -->
                <div class="scroll-label">SCROLL TO EXPLORE</div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Making brands -->

    <div class="main-making-brands-container">
      <div class="container-fluid">
        <div class="row making-brands-content">
          <div class="col-12 col-xl-4">
            <h2>Making brands, <br>
              shaping trends<span class="yellow">.</span></h2>
            <p>We experiment, innovate, build content, and share knowledge. We operate the leading file-sharing
              platform. We organize conferences and training sessions, publish an annual book of digital industry facts,
              and host the celebration of e-commerce. Enter our laboratory and discover Neo's own brands! </p>
          </div>
          <div class="col-12 col-xl-8 d-none d-xl-block">
            <div class="pattern"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4 col-xl-3">
            <a href="" class="making-brands-card" style="background-image: url('images/main/mb_01.png')">
            </a>
          </div>
          <div class="col-6 col-md-4 col-xl-3">
            <a href="" class="making-brands-card">
              <div class="label">Digitális Média Tények Könyvek</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-xl-3">
            <a href="" class="making-brands-card">
              <div class="label">helloblackfriday.hu</div>
            </a>
          </div>
          <div class="col-6 col-md-4 col-xl-3">
            <a href="" class="making-brands-card">
              <div class="label">hellogreenweb.hu</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- career  -->

    <div class="main-career-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-xl-4 career-desc">
            <h2>Your career<br>
              starts here<span class="yellow">.</span></h2>
            <p>Join neo: Where Data-Driven Innovation Meets Purposeful Strategy. Elevate your career in a landscape of
              continuous learning, collaborative growth, and digital mastery. Let's shape the future, together</p>
          </div>
          <div class="col-12 col-xl-8">
            <div class="positions">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Social Media Manager</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Junior Account Manager</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Senior Social Media Account Manager</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- footer -->

  <footer id="contact">
    <div class="footer-pattern"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-0">Let's talk<span class="yellow">.</span></h2>
          <h2><a href="mailto:neo@neointeractive.hu">neo@neointeractive.hu</a></h2>

          <div class="footer-bottom">
            <div class="contact">
              <p>
                Budapest, Gombocz Zoltán u. 9 H-1118<br>
                <a href="tel:+3612345678">+36 1 234 5678</a>
              </p>
            </div>
            <div class="social">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>
          <div class="legal">
            © 2023 Neo Interactive All Rights Reserved.
            <a href="" class="pp ul">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- our mission popup -->

  <div class="our-mission-popup">
    <div class="our-mission-back">
      <a href="" class="defbtn close-popup"><i class="icon-arrow-left"></i>back to home</a>
    </div>
    <div class="our-mission-content">
      <div class="content-wrapper">
        <h2>Our Mission Statement</h2>
        <h3>The digital age is all about connectivity. We specialize in discovering and forging links between
          technologies, people, clients, and businesses. Operating beyond the conventional, our strong focus revolves
          around invigorating our clients' businesses and expanding their horizons. </h3>
        <p>
          <b>In 2002, as we set forth on this path.</b> The idea of digital—or, as we like to imagine it—interactive
          communication, remained a distant and indistinct notion for most. Or, to put it in business terms, it was the
          last row in the Excel spreadsheet. Yet, we firmly believed in its potential! We believed that this was the
          right
          direction:<br>
          - conversations over clamor<br>
          - precision over shot in the dark<br>
          - content over advertisement<br>
          - individuality over mass.
        </p>

        <p>The driving force behind these changes and opportunities for transformation was, of course, the <b>new and
            progressive technology</b>. Grounded in this landscape, we evangelized, innovated, experimented,
          occasionally
          stumbled, but on the whole, we forged ahead into the unknown. Looking back, it is evident that it was a
          revolution, and we stood at the forefront of the barricades.</p>

        <p>And now, we have indeed reached our goal. With a modest contribution from us, the landscape of the
          communication industry has undergone a complete transformation. What was once a dream has become a daily
          practice, shaped by established—some by us—standards.</p>

        <p>Our new task is to preserve the values we have achieved. To uphold the excellence, the quality, to resist
          unwarranted deviations, and to ensure sustainability, long-term functionality, and the prerequisites of
          actionable knowledge—both at the organizational and industry levels. This is our new mission, and it is why we
          work tirelessly. </p>
      </div>

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script src="js/site.js"></script>
</body>

</html>