<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <meta name="title" content="">

  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="icon" href="/images/favicon/favicon.png" sizes="32x32" />
  <link rel="icon" href="/images/favicon/favicon-1.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon.png" />
  <meta name="msapplication-TileImage" content="/images/favicon/favicon-2.png" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.typekit.net/spa5msy.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="page-top">

  <!-- header -->

  <header>

    <div class="nav-bg"></div>

    <!-- nav -->

    <div class="menu-bar">
      <div class="brand-logo">
        <a href="index.html"><img src="images/neo_logo.svg" alt="NEO"></a>
      </div>
      <div class="menu-btn d-xl-none">
        <div class="menu-icon">
          <span class="menu-icon__line"></span>
          <span class="menu-icon__line menu-icon__line-middle"></span>
          <span class="menu-icon__line menu-icon__line-bottom"></span>
        </div>
      </div>
      <nav>
        <div class="nav-content">
          <div class="nav-list-container">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a href="index.html">About us</a>
              </li>
              <li class="nav-list-item">
                <a href="case_studies.html">Case studies</a>
              </li>
              <li class="nav-list-item">
                <a href="courses.html">Courses</a>
              </li>
              <li class="nav-list-item">
                <a href="news_room.html">News</a>
              </li>
              <li class="nav-list-item">
                <a href="#contact">Contact</a>
              </li>
              <li class="nav-list-item only-desktop">
                <a class="green" href="">HELLOGREENWEB.HU <i class="icon-icon-open-external-link"></i></a>
              </li>
            </ul>
          </div>

          <div class="nav-mobilemenu">
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>hellogreenweb.hu</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>

        </div>
      </nav>
      <div class="lang-container">
        <a href="#" class="lang-open">EN</a>
        <div class="lang-box">
          <a href="#">HU</a>
          <span>|</span>
          <a href="#">EN</a>
        </div>
      </div>
    </div>

  </header>

  <!-- content -->

  <section class="main-container">

    <!-- news subpage -->

    <div class="news-container default-padding-w menu-top-margin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-xl-7 order-2 order-xl-1">
            <h1>THE 2023 EDITION OF THE DIGITAL MEDIA FACTS BOOK IS OUT!</h1>
            <h3>With us, you can now immerse yourself in the world of digital media at home and abroad.</h3>

            <div class="date">Posted on 25.6.2024.</div>

            <div class="news-content">
              <p>As a full service communications and media agency, education is extremely important to us, so we share
                our more than 20 years of accumulated knowledge and experience with the industry through one of the most
                influential information publications of the Hungarian digital market, the Digital Media Facts Book,
                which we have produced for the 16th time this year.</p>

              <p>In this unrivaled knowledge base, we have collected the most important data, facts and trends related
                to digital media and marketing in Hungary and abroad, offering a wealth of useful information.</p>

              <p>In this year's edition, you can find out even more about the most important consumer trends, major
                events in the Hungarian media market, the most exciting developments in the Hungarian marketing world
                and the ever-increasing use of artificial intelligence, among other things, through internet usage
                patterns and streaming statistics.</p>

              <p>We hope that you will be as happy to read the Digital Media Fact Book as we were to prepare it for you,
                and that we have gained a wealth of useful information that you can use in your everyday life.</p>

              <p>And if you want to be even more up-to-date on the most important professional topics, we look forward
                to seeing you at our digital presentations!</p>
            </div>

          </div>
          <div class="col-12 col-xl-5 order-1 order-xl-2">
            <img class="news-img" src="/images/news/news_01.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- more news -->

    <div class="newsroom-container def-b-margin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2>More<span class="yellow">.</span></h2>

            <div class="newsroom-cards">
              <a href="" class="newsroom-card">
                <div class="newsroom-card-inner" style="background-image: url('images/news/news_01.png')">
                </div>
                <div class="date">Posted on 25.6.2024.</div>
                <h3>THE 2023 EDITION OF THE DIGITAL MEDIA FACTS BOOK IS OUT!</h3>
              </a>
              <a href="" class="newsroom-card">
                <div class="newsroom-card-inner" style="background-image: url('images/news/news_02.png')">
                </div>
                <div class="date">Posted on 25.6.2024.</div>
                <h3>HOW FAR AWAY IS THE AGE OF METAVERSE?</h3>
              </a>
              <a href="" class="newsroom-card">
                <div class="newsroom-card-inner" style="background-image: url('images/news/news_03.png')">
                </div>
                <div class="date">Posted on 25.6.2024.</div>
                <h3>CHANGING GENERATIONS AND CONSUMER HABITS - NEO'S EXPERT AT THE ROUNDTABLE!</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- footer -->

  <footer id="contact">
    <div class="footer-pattern"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-0">Let's talk<span class="yellow">.</span></h2>
          <h2><a href="mailto:neo@neointeractive.hu">neo@neointeractive.hu</a></h2>

          <div class="footer-bottom">
            <div class="contact">
              <p>
                Budapest, Gombocz Zoltán u. 9 H-1118<br>
                <a href="tel:+3612345678">+36 1 234 5678</a>
              </p>
            </div>
            <div class="social">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>
          <div class="legal">
            © 2023 Neo Interactive All Rights Reserved.
            <a href="" class="pp ul">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script src="js/site.js"></script>
</body>

</html>