<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <meta name="title" content="">

  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="icon" href="/images/favicon/favicon.png" sizes="32x32" />
  <link rel="icon" href="/images/favicon/favicon-1.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon.png" />
  <meta name="msapplication-TileImage" content="/images/favicon/favicon-2.png" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.typekit.net/spa5msy.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="page-top">

  <!-- header -->

  <header>

    <div class="nav-bg"></div>

    <!-- nav -->

    <div class="menu-bar">
      <div class="brand-logo">
        <a href="index.html"><img src="images/neo_logo.svg" alt="NEO"></a>
      </div>
      <div class="menu-btn d-xl-none">
        <div class="menu-icon">
          <span class="menu-icon__line"></span>
          <span class="menu-icon__line menu-icon__line-middle"></span>
          <span class="menu-icon__line menu-icon__line-bottom"></span>
        </div>
      </div>
      <nav>
        <div class="nav-content">
          <div class="nav-list-container">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a href="index.html">About us</a>
              </li>
              <li class="nav-list-item">
                <a href="case_studies.html">Case studies</a>
              </li>
              <li class="nav-list-item">
                <a href="courses.html">Courses</a>
              </li>
              <li class="nav-list-item">
                <a href="news_room.html">News</a>
              </li>
              <li class="nav-list-item">
                <a href="#contact">Contact</a>
              </li>
              <li class="nav-list-item only-desktop">
                <a class="green" href="">HELLOGREENWEB.HU <i class="icon-icon-open-external-link"></i></a>
              </li>
            </ul>
          </div>

          <div class="nav-mobilemenu">
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>hellogreenweb.hu</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
            </div>
            <div class="nav-mobilemenu-item">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>

        </div>
      </nav>
      <div class="lang-container">
        <a href="#" class="lang-open">EN</a>
        <div class="lang-box">
          <a href="#">HU</a>
          <span>|</span>
          <a href="#">EN</a>
        </div>
      </div>
    </div>

  </header>

  <!-- content -->

  <section class="main-container">

    <!-- privacy policy -->

    <div class="default-padding menu-top-margin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="row def-b-margin">
              <div class="col-12 col-xl-9">
                <h1 class="mb-0">Privacy Policy<span class="yellow">.</span></h1>
              </div>
            </div>

            <!-- content -->

            <div class="row">
              <div class="col-12 col-xl-9 basic-text-container">
                <h2>Category name</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper cursus turpis et congue.
                  Nunc rhoncus erat justo, ut blandit justo commodo sed. Mauris ac mi nec mi interdum fringilla in at
                  augue. Suspendisse luctus laoreet faucibus. Curabitur a tortor imperdiet, tincidunt turpis
                  consectetur, dapibus tellus. Praesent a lorem sed est lobortis feugiat. Orci varius natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at pharetra sem. Maecenas luctus
                  venenatis lorem. Aenean ut quam a urna cursus vehicula. Donec in dignissim nulla, et lacinia arcu.
                  Fusce non accumsan nibh. Nam mattis vulputate eros, et hendrerit urna fermentum ac. Proin ut hendrerit
                  ipsum, a eleifend erat.</p>

                <p>Mauris hendrerit mauris quis diam bibendum, non lacinia ex placerat. Fusce id dui sem. Pellentesque a
                  lacus mauris. Ut malesuada blandit nibh sed tincidunt. Phasellus risus ipsum, scelerisque a ipsum at,
                  pharetra faucibus urna. Fusce porta blandit lacus, a ullamcorper eros. Aenean aliquam luctus mi.
                  Aliquam fermentum metus eget nisi fermentum, sed vehicula libero cursus. In placerat convallis ante ac
                  aliquam.</p>

                <p>Aenean commodo iaculis augue, vel eleifend leo tempor a. Nam commodo nunc vitae tempus maximus. Donec
                  porttitor pharetra commodo. Sed efficitur cursus nisi non laoreet. Donec non turpis nec nibh aliquet
                  tincidunt eu vitae mauris. Fusce vehicula gravida tellus. Nulla eleifend auctor ante, in bibendum erat
                  commodo eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur eu urna eu mauris
                  elementum fermentum. Phasellus ultrices vestibulum dapibus. Ut iaculis justo in felis elementum, at
                  efficitur augue pulvinar.</p>

                <p>Phasellus et purus cursus, pretium nulla at, venenatis nulla. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Integer a ullamcorper mauris. Pellentesque pharetra dignissim risus, at placerat urna
                  interdum vel. Cras imperdiet elit eget consequat tempus. Fusce auctor fermentum pulvinar. Nullam et
                  pretium arcu. Etiam ex turpis, vehicula id leo ut, aliquam facilisis nibh. Aenean dignissim, est at
                  commodo ultrices, tellus nunc facilisis ex, egestas porttitor elit eros sed diam. Cras metus felis,
                  volutpat non posuere vel, fermentum vel nisi. Proin venenatis metus quam, id lobortis est porta sed.
                  Duis blandit velit vitae faucibus iaculis. Nullam ut ex at arcu viverra dictum. Cras justo dui, tempor
                  id est vitae, aliquam luctus ex. Nulla ullamcorper fringilla pharetra.</p>

                <p>Fusce fermentum lorem id metus facilisis aliquet. Aliquam vel pulvinar arcu. Suspendisse a auctor
                  magna. Ut a molestie libero. Vivamus quis vestibulum nunc, et pellentesque tellus. Suspendisse tellus
                  ante, eleifend quis velit ac, faucibus dictum arcu. Sed sodales orci quis nulla tristique malesuada.
                  Pellentesque auctor suscipit imperdiet. Nam quis malesuada tortor, id finibus tellus. Aenean varius
                  neque nec pellentesque ultricies. Integer venenatis pulvinar cursus.</p>

                <h2>Category name</h2>

                <p>Phasellus et purus cursus, pretium nulla at, venenatis nulla. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Integer a ullamcorper mauris. Pellentesque pharetra dignissim risus, at placerat urna
                  interdum vel. Cras imperdiet elit eget consequat tempus. Fusce auctor fermentum pulvinar. Nullam et
                  pretium arcu. Etiam ex turpis, vehicula id leo ut, aliquam facilisis nibh. Aenean dignissim, est at
                  commodo ultrices, tellus nunc facilisis ex, egestas porttitor elit eros sed diam. Cras metus felis,
                  volutpat non posuere vel, fermentum vel nisi. Proin venenatis metus quam, id lobortis est porta sed.
                  Duis blandit velit vitae faucibus iaculis. Nullam ut ex at arcu viverra dictum. Cras justo dui, tempor
                  id est vitae, aliquam luctus ex. Nulla ullamcorper fringilla pharetra.</p>

                <p>Fusce fermentum lorem id metus facilisis aliquet. Aliquam vel pulvinar arcu. Suspendisse a auctor
                  magna. Ut a molestie libero. Vivamus quis vestibulum nunc, et pellentesque tellus. Suspendisse tellus
                  ante, eleifend quis velit ac, faucibus dictum arcu. Sed sodales orci quis nulla tristique malesuada.
                  Pellentesque auctor suscipit imperdiet. Nam quis malesuada tortor, id finibus tellus. Aenean varius
                  neque nec pellentesque ultricies. Integer venenatis pulvinar cursus.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- footer -->

  <footer id="contact">
    <div class="footer-pattern"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-0">Let's talk<span class="yellow">.</span></h2>
          <h2><a href="mailto:neo@neointeractive.hu">neo@neointeractive.hu</a></h2>

          <div class="footer-bottom">
            <div class="contact">
              <p>
                Budapest, Gombocz Zoltán u. 9 H-1118<br>
                <a href="tel:+3612345678">+36 1 234 5678</a>
              </p>
            </div>
            <div class="social">
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>FACEBOOK</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>youtube</a>
              <a href="" class="defbtn"><i class="icon-arrow-right"></i>Linkedin</a>
            </div>
          </div>
          <div class="legal">
            © 2023 Neo Interactive All Rights Reserved.
            <a href="" class="pp ul">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script src="js/site.js"></script>
</body>

</html>