.container-fluid {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;

    .row {
        margin-left: -1.5rem !important;
        margin-right: -1.5rem !important;

        [class*="col-"] {
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
        }

        .form-row {
            margin-right: -.8rem !important;
            margin-left: -.8rem !important;
        }

        .form-row>.col,
        .form-row>[class*=col-] {
            padding-right: .8rem !important;
            padding-left: .8rem !important;
        }
    }
}

.menu-top-margin {
    margin-top: 6.2rem;
}

.default-margin {
    margin: $mobile-margin 0;
}

.default-padding {
    padding: $mobile-margin 0 calc($mobile-margin + 8rem);
}

.default-padding-w {
    padding: $mobile-margin 0;
}

.def-t-margin {
    margin-top: $mobile-margin;
}

.def-b-margin {
    margin-bottom: $mobile-margin;
}

@media (min-width: $xl-width) {
    .container-fluid {
        max-width: $row-width;
        padding-left: 3rem !important;
        padding-right: 3rem !important;

        .row {
            margin-left: -3rem !important;
            margin-right: -3rem !important;

            [class*="col-"] {
                padding-left: 3rem !important;
                padding-right: 3rem !important;
            }

            &.no-gutters {
                margin-right: 0 !important;
                margin-left: 0 !important;

                >.col,
                >[class*="col-"] {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                }
            }
        }
    }

    .menu-top-margin {
        margin-top: 11.2rem;
    }

    .default-margin {
        margin: $desktop-margin 0;
    }

    .default-padding {
        padding: $desktop-margin 0 calc($desktop-margin + 8rem);
    }

    .default-padding-w {
        padding: $desktop-margin 0;
    }

    .def-t-margin {
        margin-top: $desktop-margin;
    }

    .def-b-margin {
        margin-bottom: $desktop-margin;
    }
}