$images-path: '../images';
$fonts-path: '../fonts';

$black2: #000000;

$green2: #6D8B39;
$lightgreen: #DEF1D9;
$blue: #93BCB7;
$grey: #707070;
$darkgrey: #707070;

$white: #ffffff;
$black: #242325;
$yellow: #FFCC00;
$green: #8DB600;
$lightgrey: #F9F9F9;

$nav-transition-length: .6;

$content-width: 1920px;

$xl-width: 1200px;
$row-width: 1530px;
$wider-width: 1600px;

$mobile-margin: 4rem;
$desktop-margin: 12rem;