.books-container {
  .book-year {
    font-size: 2rem;
  }

  .main-case-studies-container {
    padding: 4rem 0;

    .swiper-scrollbar {
      background: black;
      border: 1px solid #686868;
    }
  }

  .blue-ver {
    h2,
    .swiper-container .swiper-slide .partner {
      color: $book-blue;
    }

    .swiper-scrollbar .swiper-scrollbar-drag,
    .swiper-scrollbar-drag {
      background-color: $book-blue;
    }
  }

  .orange-ver {
    h2,
    .swiper-container .swiper-slide .partner {
      color: $book-orange;
    }

    .swiper-scrollbar .swiper-scrollbar-drag,
    .swiper-scrollbar-drag {
      background-color: $book-orange;
    }
  }

  .purple-ver {
    h2,
    .swiper-container .swiper-slide .partner {
      color: $book-purple;
    }

    .swiper-scrollbar .swiper-scrollbar-drag,
    .swiper-scrollbar-drag {
      background-color: $book-purple;
    }
  }

  .yellow-ver {
    h2,
    .swiper-container .swiper-slide .partner {
      color: $yellow;
    }

    .swiper-scrollbar .swiper-scrollbar-drag,
    .swiper-scrollbar-drag {
      background-color: $yellow;
    }
  }
}

// sub page

.book-container {
  &.blue-ver {
    .category {
      color: $book-blue;
    }

    .basic-text-container {
      blockquote {
        border-left-color: $book-blue;
      }

      ul li::before,
      a::after {
        background-color: $book-blue;
      }
    }

    .ul::after {
      background-color: $book-blue;
    }
  }

  &.orange-ver {
    .category {
      color: $book-orange;
    }

    .basic-text-container {
      blockquote {
        border-left-color: $book-orange;
      }

      ul li::before,
      a::after {
        background-color: $book-orange;
      }
    }

    .ul::after {
      background-color: $book-orange;
    }
  }

  &.purple-ver {
    .category {
      color: $book-purple;
    }

    .basic-text-container {
      blockquote {
        border-left-color: $book-purple;
      }

      ul li::before,
      a::after {
        background-color: $book-purple;
      }
    }

    .ul::after {
      background-color: $book-purple;
    }
  }

  &.yellow-ver {
    .category {
      color: $yellow;
    }

    .basic-text-container {
      blockquote {
        border-left-color: $yellow;
      }

      ul li::before,
      a::after {
        background-color: $yellow;
      }
    }

    .ul::after {
      background-color: $yellow;
    }
  }

  .case-study-half-img {
    margin: 3rem 0;
    background-color: transparent;
  }
}

@media (min-width: $xl-width) {
  .books-container {
    .book-year {
      font-size: 3.6rem;
      margin-bottom: 8rem;
    }

    .book-img {
      position: absolute;
      right: -3rem;
      top: -23rem;
    }

    .main-case-studies-container {
      padding: 6rem 0;
    }
  }

  // sub page

  .book-container {
    .case-study-half-img {
      margin: 0;
    }
  }
}
