.main-testimony-container {
    width: 100%;

    .testimony-content {
        background: linear-gradient(150deg, #fff 0%, #f5f4f5 100%);
        padding: 5.6rem 0 4.1rem;

        h2 {
            margin-bottom: 4.1rem;
        }

        .testimony-btn {
            margin-bottom: 2.1rem;
        }
    }

    .showreel {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 55.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .defbtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;
        }

        .embed-youtube {
            visibility: hidden;
            opacity: 0;
            width: 100%;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.main-partners-container {
    background-color: $lightgrey;
    padding: 8.7rem 0 7rem;

    .partners-items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .partners-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            flex: 0 1 calc(100% / 3);

            img {
                max-width: 100%;
                width: auto;
                //max-height: 7rem;
                height: auto;
            }
        }
    }
}

.main-knowledge-container {
    background: linear-gradient(150deg, #fff 0%, #f5f4f5 100%);
    padding: 7rem 0 4rem;

    .knowledge-header {
        h2 {
            font-size: 3.2rem;
            margin-bottom: 6.5rem;
        }
    }

    .knowledge-content {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2.5rem;

        .count {
            font-family: "itc-avant-garde-gothic-pro", sans-serif;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1em;
            color: $yellow;
            margin: 0.3rem 1rem 0 0;
        }

        .knowledge-hl {
            position: relative;
            display: inline-flex;

            img {
                width: auto;
                height: auto;
                transform: scale(.65);
                transform-origin: left top;
            }

            img.know-02 {
                position: absolute;
                right: -13.4rem;
                top: 1.7rem;
            }

            img.know-03 {
                position: absolute;
                right: -5.8rem;
                top: -2rem;
            }
        }

        h2 {
            margin-bottom: 2rem;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                margin-bottom: 1rem;
                line-height: 1em;

                &::after {
                    content: "";
                    display: inline-block;
                    position: relative;
                    width: 0.6rem;
                    height: 0.6rem;
                    background-color: $yellow;
                    vertical-align: middle;
                    margin: 0 1rem 0.3rem;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.main-leadership-container {
    background-color: $lightgrey;
    padding: 6.5rem 0 9rem;

    .leadership-headline {
        display: flex;
        align-items: flex-end;
        margin-bottom: 4rem;

        h2 {
            position: relative;
            margin-bottom: 0.9rem;
            flex: 0;
        }

        img {
            margin: 0 0 0 -0.6rem;
        }
    }

    .leadership-content {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;

        .leadership-card {
            max-width: calc(50% - 0.5rem);
            flex: 0 0 calc(50% - 0.5rem);
            margin-bottom: 5.4rem;

            img {
                max-height: 19.1rem;
                max-width: 19.1rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 2.9rem;
            }

            .name {
                font-family: "itc-avant-garde-gothic-pro", sans-serif;
                font-weight: 700;
                font-size: 1.6rem;
            }

            .position {
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: 500;
                margin-bottom: 1.3rem;
            }

            .social {
                a {
                    display: inline-block;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.main-case-studies-container {
    padding: 5.6rem 0 6rem;

    h2 {
        margin-bottom: 3.9rem;
    }

    .slider {
        max-width: 100%;
        position: relative;
    }

    .swiper-container {
        padding-bottom: 6.2rem;
        width: 90%;

        .swiper-slide {
            .swiper-slide-inner {
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                height: calc(47.1rem - 3rem);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 1.5rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 80%;
                    background: linear-gradient(to top, #1a181b 0%, rgba(26, 24, 27, 0) 100%);
                    opacity: 0.55;
                }
            }

            .partner {
                position: relative;
                color: $yellow;
                font-family: "itc-avant-garde-gothic-pro", sans-serif;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 2rem;
            }

            h3 {
                position: relative;
                margin-bottom: 0;
                color: $white;
                font-size: 2rem;
                text-overflow: ellipsis;
                //overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                min-height: 7.2rem;
            }
        }
    }

    .scroll-label {
        font-size: 1rem;
        text-transform: uppercase;
        position: absolute;
        top: -3.5rem;
        left: 0;
        margin: 0;
    }

    .swiper-scrollbar {
        background: $white;
        border: 1px solid rgba($color: $black, $alpha: 0.2);
        height: 0.6rem;
        left: 0;
        width: 100%;
        bottom: 0;

        .swiper-scrollbar-drag {
            background-color: $yellow;
            height: 0.8rem;
            top: -0.2rem;
            cursor: pointer;
        }
    }
}

.main-making-brands-container {
    padding: 6rem 0 6rem;

    .making-brands-content {
        margin-bottom: 3.8rem;

        h2 {
            margin-bottom: 2.5rem;
        }

        p {
            margin: 0;
        }
    }

    .pattern {
        background-image: url(/resources/images/main/black_rect.svg);
        background-size: 2.8rem 2.8rem;
        background-position: left top;
        background-repeat: repeat;
        opacity: 0.2;
        height: 100%;
    }

    .making-brands-card {
        display: block;
        background-color: black;
        height: 12rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 2.3rem;

        .label {
            font-family: "itc-avant-garde-gothic-pro", sans-serif;
            font-size: 1rem;
            color: $white;
            text-align: center;
        }
    }
}

.main-career-container {
    padding: 6rem 0 11.7rem;
    background: linear-gradient(150deg, #fff 0%, #f5f4f5 100%);

    .career-hl {
        position: relative;
        display: inline-flex;

        img {
            width: 9.4rem;;
            height: auto;
            transform-origin: left top;
            //position: absolute;
            //left: calc(100% - .5rem);
            //top: 3.2rem;
            animation: career-dots 3.2s ease-in-out infinite;
        }

        @keyframes career-dots {
            0% {
                transform: translateX(1rem) translateY(.5rem);
            }

            30% {
                transform: translateX(-1.3rem) translateY(.5rem);
            }

            70% {
                transform: translateX(-1.3rem) translateY(.5rem);
            }

            100% {
                transform: translateX(1rem) translateY(.5rem);
            }
        }
    }

    .career-desc {
        margin-bottom: 4.3rem;
    }

    h2 {
        margin-bottom: 4.3rem;
    }

    .positions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .main-partners-container {
        .partners-items {
            .partners-item {
                padding: 1.5rem;
                flex: 0 1 calc(100% / 6);
            }
        }
    }

    .main-leadership-container {
        .leadership-content {
            gap: 2rem;
            flex-wrap: nowrap;

            .leadership-card {
                max-width: 20rem;
                margin-bottom: 0;
                flex: 0 1 20rem;

                img {
                    max-height: 20rem;
                    max-width: 20rem;
                }
            }
        }
    }
}

@media (min-width: $xl-width) {
    .main-testimony-container {
        display: flex;

        .testimony-content {
            flex: 1;
            padding: clamp(2rem, 3.153vw, 6rem) 12rem clamp(2rem, 3.153vw, 6rem) calc((100vw - $row-width) / 2);

            h2 {
                margin-bottom: clamp(2.5rem, 2.102vw, 4rem);
                font-size: clamp(2.5rem, 2.102vw, 4rem);
            }

            .defbtn {
                font-size: clamp(1rem, 0.946vw, 1.8rem);
                padding: clamp(.1rem, 0.263vw, .5rem) clamp(1rem, 1.734vw, 3.3rem) clamp(.1rem, 0.263vw, .5rem) clamp(1rem, 3.941vw, 7.5rem);
                min-height: clamp(2rem, 3.153vw, 6rem);

                &:hover,
                &:focus {
                    &::before {
                        width: 100%;
                    }
                }

                i.icon-arrow-right,
                i.icon-arrow-left {
                    left: clamp(1rem, 0.946vw, 1.8rem);
                }

                &::before {
                    width: clamp(2rem, 3.153vw, 6rem);
                    height: clamp(2rem, 3.153vw, 6rem);
                    border-radius: clamp(1rem, 1.576vw, 3rem);
                }
            }

            .testimony-btn {
                margin-bottom: 2.2rem;
            }
        }

        .showreel {
            flex: 0 0 53%;
            height: clamp(30rem, 29.6vw, 57rem);
        }
    }

    .main-partners-container {
        padding: 17rem 0 11rem;

        .partners-items {
            .partners-item {
                padding: 2rem;
                flex: 0 1 calc(100% / 9);
            }
        }
    }

    .main-knowledge-container {
        padding: 11rem 0 17rem;

        .knowledge-header {
            h2 {
                font-size: 4.5rem;
                margin-bottom: 9rem;
            }
        }

        .knowledge-content {
            display: block;
            margin-bottom: 0;

            .count {
                font-size: 2rem;
                margin: 0 0 3.8rem;
            }

            .knowledge-hl {
                img {
                    transform: scale(1);
                }

                img.know-02 {
                    right: -13.9rem;
                    top: 3rem;
                }

                img.know-03 {
                    right: -5.3rem;
                    top: -2.6rem;
                }
            }

            h2 {
                margin-bottom: 4rem;
            }

            ul {
                li {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .main-leadership-container {
        padding: 17rem 0 19rem;

        .leadership-headline {
            margin-bottom: 0;
            align-items: flex-start;

            h2 {
                position: relative;
                font-size: clamp(3rem, 2.5vw, 4.5rem);
            }

            img {
                margin: 1.576vw 0 0 -0.578vw;
                width: clamp(10rem, 9.249vw, 17.6rem);
            }
        }

        .leadership-content {
            gap: 5rem;

            .leadership-card {
                max-width: 19.1rem;
                flex: 0 1 19.1rem;

                img {
                    max-height: 19.1rem;
                    max-width: 19.1rem;
                    margin-bottom: 3.2rem;
                }

                .name {
                    font-size: 2.2rem;
                }

                .position {
                    font-size: 1.2rem;
                    margin-bottom: 2rem;
                }

                .social {
                    a {
                        margin-right: 1.2rem;
                    }
                }
            }
        }
    }

    .main-case-studies-container {
        padding: 17.2rem 0 20rem;
        position: relative;

        .case-studies-bg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: calc((100vw - $row-width) / 2);
            background: linear-gradient(150deg, #fff 60%, #f5f4f5 100%);
        }

        h2 {
            position: relative;
            margin-bottom: 5.2rem;
        }

        .swiper-container {
            padding-bottom: 5.6rem;
            width: 97%;

            .swiper-slide {
                .swiper-slide-inner {
                    height: calc(68rem - 7.4rem);
                    padding: 3.7rem 2.8rem;
                }

                .partner {
                    font-size: 1.4rem;
                    margin-bottom: 2rem;
                }

                h3 {
                    font-size: 3rem;
                    min-height: 10.8rem;
                }
            }
        }

        .scroll-label {
            top: unset;
            bottom: -0.5rem;
            left: -17rem;
        }

        .swiper-scrollbar {
            left: 17rem;
            right: 16rem;
            width: calc(100% - 33rem);
        }
    }

    .main-making-brands-container {
        padding: 19rem 0 10.5rem;

        .making-brands-content {
            margin-bottom: 9rem;

            h2 {
                margin-bottom: 3.5rem;
            }
        }

        .making-brands-card {
            height: 22.3rem;
            padding: 1rem;

            .label {
                font-size: 1.8rem;
            }
        }
    }

    .main-career-container {
        padding: 10.5rem 0 25rem;

        .career-hl {
            img {
                width: auto;
                //left: calc(100% - 1rem);
                //top: 5.5rem;
                animation: career-dots-desktop 3.2s ease-in-out infinite;
            }

            @keyframes career-dots-desktop {
                0% {
                    transform: translateX(1rem) translateY(.8rem) scale(1);
                }

                30% {
                    transform: translateX(-2.1rem) translateY(.8rem) scale(1);
                }

                70% {
                    transform: translateX(-2.1rem) translateY(.8rem) scale(1);
                }

                100% {
                    transform: translateX(1rem) translateY(.8rem) scale(1);
                }
            }
        }

        .career-desc {
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 6rem;
        }

        .positions {
            margin-left: 10rem;
            height: 100%;
            gap: 2rem;
        }
    }
}

@media (min-width: $row-width) {}

@media (min-width: $content-width) {
    .main-testimony-container {
        .testimony-content {
            padding: 6rem 12rem 6rem calc(($content-width - $row-width) / 2);
        }
    }

    .main-case-studies-container {
        .case-studies-bg {
            right: 22.5rem;
        }
    }
}
