form {

    .form-control:focus,
    textarea:focus,
    select:focus,
    input[type]:focus,
    .uneditable-input:focus {
        box-shadow: none;
        border: 2px solid $black;
        outline: 0 none;
    }

    .form-group {
        margin-bottom: 4rem;

        &.biger-margin-top {
            margin-top: 6rem;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 2px solid $black;
        -webkit-text-fill-color: $black;
        -webkit-box-shadow: 0 0 0px 1000px inherit inset;
        transition: background-color 5000s ease-in-out 0s;
        font-size: 1.6rem;
    }

    select,
    .form-control {
        font-size: 1.6rem;
        color: $black;
        padding: 1.7rem 2rem;
        background-color: $white;
        border: 2px solid $black;
        border-radius: 0;
        height: auto;

        &::placeholder {
            color: rgba($color: $black, $alpha: .5);
        }

        &:focus {
            color: $black;
            //border: 1px solid $white;
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: 50%;

        & option:disabled {
            color: $grey;
        }
    }

    label {
        font-size: 2.4rem;
        margin-bottom: 1.8rem;
        font-weight: 700;
        color: $black;
    }

    .form-check {
        display: flex !important;
        align-items: center;
        min-height: 3rem;
        padding-left: 0;
        margin-bottom: 1.4rem;
    }

    .form-check .form-check-input {
        float: left;
        margin-left: -2em;
    }

    .form-check-input {
        flex: 0 0 3.5rem;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        margin: 0 !important;
        vertical-align: middle;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        border: 2px solid $black;
        border-radius: 0;
        appearance: none;
        //color-adjust: exact;
        cursor: pointer;
    }

    .form-check-label {
        font-size: 1.4rem;
        line-height: 1.4em;
        font-weight: 400;
        margin: 0 0 0 2rem;
        color: $black;
        cursor: pointer;

        a {
            white-space: nowrap;
        }
    }

    .form-check-input[type=checkbox] {
        border-radius: 0;
    }

    .form-check-input:active {
        filter: none;
    }

    .form-check-input:focus {
        border: 2px solid $black;
        outline: 0;
        box-shadow: none;
    }

    .form-check-input:checked {
        background-color: $white;
        border: 2px solid $black;
    }

    .form-check-input:checked[type=checkbox] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
}


@media (min-width: $xl-width) {

    form {

        .form-group {
            margin-bottom: 4rem;

            &.biger-margin-top {
                margin-top: 8rem;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            font-size: 1.8rem;
        }

        input[type],
        .form-control {
            font-size: 1.8rem;
        }

        label {
            font-size: 2.4rem;
            margin-bottom: 1.8rem;
        }

        .form-check-label {
            font-size: 1.8rem;
        }
    }
}