@font-face {
  font-family: 'fontello';
  src: url('#{$fonts-path}/fontello.eot?71026748');
  src: url('#{$fonts-path}/fontello.eot?71026748#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/fontello.woff2?71026748') format('woff2'),
  url('#{$fonts-path}/fontello.woff?71026748') format('woff'),
  url('#{$fonts-path}/fontello.ttf?71026748') format('truetype'),
  url('#{$fonts-path}/fontello.svg?71026748#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  font-size: 1em;
  padding-bottom: 0;
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 0;

  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: '\e802';
}

/* '' */
.icon-arrow-right:before {
  content: '\e803';
}

/* '' */
.icon-checkmark:before {
  content: '\e804';
}

/* '' */
.icon-icon-open-external-link:before {
  content: '\e805';
}

/* '' */
.icon-play:before {
  content: '\e806';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */